@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allura&family=DDancing+Script:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');
* {
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: #333;
    color: #222;
    overflow-x: hidden;
    margin: 0;
}

a {
    color: inherit;
}

* {
    box-sizing: border-box
}


/* Slideshow container */

.slideshow-container {
    max-width: 100vw;
    position: relative;
    margin: auto;
}

.datingRow {
    text-align: right;
    padding-right: 25px;
    padding-left: 50px;
}

.synopsisBox {
    text-align: center;
    padding: 35px 35px 0px 35px;
}


/* Hide the images by default */

.mySlides {
    display: none;
    border: 4px solid #333;
}

.card {
    border: 1px solid #333;
}


/* The dots/bullets/indicators */

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #8521b0;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

.rompBox {
    background-color: #fed8ed;
    margin: 0px;
    padding: 0px;
    width: 100;
    height: 185px;
}

.myRow {
    margin: 0px;
    padding: 0px;
    width: 100;
}

.characters {
    padding: 0px 25px 0px 25px;
    width: 90vw;
    text-align: center;
    justify-content: center;
    margin: auto;
}

.video {
    width: 50vw;
    height: 500px;
    padding: 0px 50px 0px 25px;
}

.photo2,
.lessText {
    display: none;
}

.photo,
.photo3 {
    border-radius: 50%;
    width: 150px;
}


/* .photo {
    border: 10px solid #f26294;
}

.photo3 {
    border: 10px solid #119da4 !important;
} */

button {
    background-color: rgb(250, 145, 52);
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 20px 30px;
    overflow: hidden;
    margin: 10px 0;
    position: relative;
}

.trailerBtnBox {
    text-align: center;
    justify-content: center;
}

.watchTrailer {
    background-color: rgb(204, 165, 249) !important;
}

.episodes,
.myCarousel,
.slideshow-container {
    padding: 0px 25px 0px 25px;
}

.rowTrailer {
    margin: 0px 25px 0px 25px;
    justify-content: center;
    text-align: center;
}

.col-centered {
    padding-top: 20px;
    text-align: center;
    justify-content: center;
}

.rompText {
    text-align: center !important;
    font-size: 200px;
    padding: 50px 0px 0px 0px;
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    color: #f26294;
    text-shadow: 2px 2px 3px rgb(29, 29, 29);
    margin: -90px 0px 0px 0px;
    letter-spacing: -15px;
}

.textBox {
    margin-top: -40px;
}

.synopsis {
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-size: 18px;
}

.seriesText,
.castText,
.datingText {
    /* font-family: 'Dancing Script', cursive; */
    font-family: 'Amatic SC', cursive;
    font-weight: 400;
    font-size: 120px;
    bottom: 0 !important;
    margin: auto;
    text-align: center;
    padding: 0px;
    color: #ff9c50;
    text-shadow: 1px 2px rgb(94, 94, 94);
    letter-spacing: -5px;
    /* text-transform: uppercase; */
}

.datingText {
    font-size: 68px;
    font-family: 'Amatic SC', cursive;
    font-weight: 100;
    color: #0884f9;
    letter-spacing: -2px;
}

.datingText2 {
    font-size: 70px;
    font-family: 'Amatic SC', cursive;
    font-weight: 100;
    letter-spacing: -2px;
    text-shadow: 2px 4px rgb(38, 38, 38);
}

.aboutTrailer {
    margin: 20px 25px 0px 25px;
    background-color: #bde0fe;
}

.datingBox {
    margin: auto;
}

.trailerThumb {
    text-align: right;
    justify-content: right;
    margin: auto;
    padding: 10px 30px 10px 10px;
}

.trailerThumbImg {
    width: 40vw;
}

.webseries {
    text-align: center;
    justify-content: center;
    margin: auto;
    font-family: 'Caveat', cursive;
    text-align: center;
    justify-content: center;
    font-size: 30px;
    padding: 0px 0px 0px 0px;
    color: #333;
    margin: -10px 0px 10px 0px;
}

.container-fluid {
    background-color: #fae7d0;
    align-items: center;
    justify-content: center;
    transform-origin: top left;
    transition: transform 0.5s linear;
    width: 100%;
    padding: 0px;
}

.container-fluid.show-nav {
    transform: rotate(-20deg);
}

.circle-container {
    position: fixed;
    top: -100px;
    left: -100px;
    z-index: 10;
}

.circle {
    background-color: #e6bcff;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    position: relative;
}

.container-fluid.show-nav {
    transform: rotate(-15deg);
}

.circle button {
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100px;
    background: transparent;
    border: 0;
    font-size: 26px;
    color: #fff;
}

.circle button:focus {
    outline: none;
}

.circle button#open {
    left: 45%;
    top: 45%
}

.circle button#close {
    left: 45%;
    top: 45%;
    display: none;
}

.container-fluid.show-nav+nav li {
    transform: translateX(0);
    transition-delay: 0.3s;
}

nav {
    position: fixed;
    bottom: 40px;
    left: 0;
    z-index: 100;
}

nav ul {
    list-style-type: none;
    padding-left: 30px;
}

nav ul li {
    text-transform: uppercase;
    color: #fff;
    margin: 40px 0;
    transform: translateX(-100%);
    transition: transform 0.4s ease-in;
}

nav ul li i {
    font-size: 20px;
    margin-right: 10px;
}

nav ul li+li {
    margin-left: 15px;
    transform: translateX(-150%);
}

nav ul li+li+li {
    margin-left: 30px;
    transform: translateX(-200%);
}

nav ul li+li+li+li {
    margin-left: 40px;
    transform: translateX(-250%);
}

.socials {
    margin: auto;
    padding-top: 20px;
    text-align: center;
    cursor: pointer;
}

.icons {
    font-size: 30px;
    letter-spacing: 25px;
    color: #053663;
    cursor: pointer;
}

.content img {
    max-width: 100%;
}

.content {
    max-width: 1000px;
    margin: 50px auto;
}

.content h1 {
    margin: 0;
}

.content small {
    color: #555;
    font-style: italic;
}

.content p {
    color: #333;
    line-height: 1.5;
}

.selector-for-some-widget {
    box-sizing: content-box;
}

.episodes {
    padding-top: 20px;
}

.characters {
    padding-bottom: 50px;
}

.romp,
.why,
.theEgg,
.milk,
.loveBytes,
.wally,
.vicous,
.holding {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle1,
.middle2,
.middle3,
.middle4,
.middle5,
.middle6,
.middle7,
.middle8,
.middle9 {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    background-color: #b3fff7;
    border-radius: 5px !important;
    padding: 15px
}

.middle2 {
    background-color: #80bdf2;
}

.middle3 {
    background-color: #fff0b3;
}

.middle4 {
    background-color: #ffb3d4;
}

.middle5 {
    background-color: #f5b0f3;
}

.middle6 {
    background-color: #ca8dff;
}

.middle7 {
    background-color: #b8dbff;
}

.rompCard:hover .romp,
.eggCard:hover .theEgg,
.milkCard:hover .milk,
.loveCard:hover .loveBytes,
.slutCard:hover .slut,
.wallyCard:hover .wally,
.characterCard:hover .vicious,
.holdingCard:hover .holding,
.whyCard:hover .why,
.michaelCard:hover .trailerBtnBox,
.michaelCard:hover .michael,
.michaelCard:hover .datingText2 {
    opacity: 0.2;
}

.rompCard:hover .middle1,
.eggCard:hover .middle2,
.milkCard:hover .middle3,
.loveCard:hover .middle4,
.slutCard:hover .middle5,
.wallyCard:hover .middle6,
.characterCard:hover .middle6,
.michaelCard:hover .middle7,
.holdingCard:hover .middle8,
.whyCard:hover {
    opacity: 0.8;
}

.text1a,
.text2a,
.text3a,
.text4a,
.text5a,
.text6a {
    color: #275b53;
    font-size: 30px;
    font-family: 'Allura', cursive;
    font-family: 'Dancing Script', cursive;
}

.text2a {
    color: #2a275b;
}

.text3a {
    color: #d07200;
}

.text4a {
    color: #b1066d;
}

.text5a {
    color: #7c0582;
}

.text6a {
    color: #4e0582;
}

.text7a {
    font-size: 80px;
    font-family: 'Amatic SC', cursive;
    font-weight: 100;
    color: #0884f9;
    letter-spacing: -2px;
    padding: 0px !important;
}

.text1b,
.text2b,
.text3b,
.text4b,
.text5b,
.text6b,
.text7b {
    color: black;
    font-size: 20px;
    font-weight: 700;
}

.text1c,
.text2c,
.text3c,
.text4c,
.text5c,
.text6c {
    color: black;
    font-size: 16px;
    font-weight: 200;
}

.text2,
.text3,
.text4,
.text5,
.text6 {
    background-color: #00c0d1;
    color: white;
    border-radius: 10px !important;
    font-size: 16px;
    padding: 16px 32px;
}

.secondRow {
    padding-top: 25px;
}

.myFooter {
    margin-bottom: 0px;
    background-color: #333;
    position: fixed;
}

.myFooterText {
    /* position: fixed; */
    margin-bottom: 0px;
    color: rgb(133, 133, 133);
    font-family: 'Montserrat', sans-serif, Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-weight: 400;
}

@media(max-width: 991px) {
    .synopsis {
        display: none;
    }
}

@media(max-width: 1199px) {
    .middle7 {
        width: 90vw;
        height: 30vh;
    }
    .trailerBtnBox2 {
        top: 70% !important;
    }
    .watchTrailer {
        font-size: 10px;
        padding: 10px;
    }
    .webseries {
        display: none;
    }
    .rompBox {
        height: 82px;
    }
    .rompText {
        font-size: 100px;
        letter-spacing: normal;
        letter-spacing: -5px;
        height: 80px;
        margin-top: -80px;
    }
    .seriesText {
        font-size: 75px;
        text-shadow: 1px 1px 2px rgb(94, 94, 94);
        margin-top: 20px;
    }
    .photo,
    .photo3 {
        width: 150px !important;
    }
    .trailerThumbImg {
        width: 40vw;
    }
    .trailerThumb {
        text-align: center;
        justify-content: center;
        margin: auto;
        padding: 0px;
    }
    .datingText {
        padding-top: 25px;
        font-size: 50px;
    }
    .datingText2 {
        font-size: 60px;
    }
}

@media(max-width: 990px) {
    .trailerThumbImg {
        width: 90vw;
    }
    .middle7 {
        width: 90vw;
        height: 20vh;
    }
    .text7b {
        display: none;
    }
    .middle7 {
        width: 90vw;
        height: 15vh;
    }
    .text7a {
        font-size: 40px !important;
    }
}

@media(max-width: 575px) {
    .middle7 {
        width: 86vw;
        height: 10vh;
    }
    .trailerBtnBox2 {
        top: 80% !important;
    }
    .watchTrailer {
        font-size: 8px;
        padding: 5px;
    }
    .rompText {
        font-size: 70px;
        letter-spacing: normal;
        letter-spacing: -5px;
        height: 80px;
        margin-top: -50px;
    }
    .photo,
    .photo3 {
        width: 250px !important;
    }
    .video {
        width: 100vw;
    }
    .trailerThumb {
        text-align: center;
        justify-content: center;
        margin: auto;
        padding: 0px;
    }
    .trailerThumbImg {
        width: 80vw;
        padding-bottom: 10px;
    }
    .icons {
        font-size: 25px;
        letter-spacing: 15px;
    }
    .text7a,
    .datingText2 {
        font-size: 30px !important;
    }
}

.myFooter {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    font-size: 10px;
    padding-top: 20px;
    border-top: 8px solid #88dcfa;
    font-family: Arial, Helvetica, sans-serif;
    z-index: 10;
}