@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allura&family=Dancing+Script:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: #333;
    color: #222;
    overflow-x: hidden;
    margin: 0;
}

a {
    color: inherit;
}

* {
    box-sizing: border-box
}

.trailerVideo {
   
    display: none;
    width: 100vw !important;
    padding-top: 10px;
    padding-left: 15px;
    text-align: center !important;
  
 
}

.video {
    text-align: center !important;
    width: 100vw !important;
    border: 0;
  }



/* Slideshow container */

.slideshow-container {
    max-width: 100vw;
    position: relative;
    margin: auto;
}




/* Hide the images by default */

.mySlides {
    display: none;
}

.card {
    border: 1px solid #333;
}




/* The dots/bullets/indicators */



.rompBox {
    background-color: #fed8ed;
    margin: 0px;
    padding: 0px;
    width: 100;
    height: 185px;
    z-index: 2;
}

.textBox {
    margin-top: -10px;
    z-index: 1;
}

.myRow {
    margin: 0px;
    padding: 0px;
    width: 100;
}

.characters {
    /* padding: 0px 25px 0px 25px; */
    width: 100vw;
    text-align: center;
    justify-content: center;
    margin: auto;
}

.video {
    width: 50vw;
    height: 500px;
    padding: 0px 50px 0px 25px;
}

.photo,
.photo3 {
    border-radius: 50%;
    width: 140px;
}

button {
    font-family: 'Montserrat', cursive;
    font-weight: 100;
    text-transform: uppercase;
    /* background-color: rgb(137, 211, 198); */
    background-color: #629cf2;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 20px 30px;
    overflow: hidden;
    margin: 10px 0;
    position: relative;
}

h3 {
    font-family: 'Montserrat', cursive;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 20px;

}

.nameText {
    font-family: 'Montserrat', cursive;
    font-weight: 100;
    font-size: 12px;

}

.trailerBtnBox {
    text-align: center;
    justify-content: center;
}

.watchTrailer, .hideTrailer {
    background-color: rgb(204, 165, 249) !important;
    color: black;
        font-weight: 500;
}

.episodes,
.myCarousel,
.slideshow-container {
    padding: 0px 25px 0px 25px;
}

.rowTrailer {
    margin: 0px 25px 0px 25px;
    justify-content: center;
    text-align: center;
}

.col-centered {
    padding-top: 20px;
    text-align: center;
    justify-content: center;
    border-radius: 50%;
    border: 0;
}

.rompText {
    text-align: center !important;
    font-size: 200px;
    padding: 50px 0px 10px 0px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 800;
    color: #f26294;
    text-shadow: 1px 1px 2px rgb(29, 29, 29);
    margin: -90px 0px 0px 0px;
    letter-spacing: -15px;
}

.synopsisBox {
    text-align: left;
    padding: 35px 0px 0px 0px;
}

.synopsis {
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    font-size: 18px;
}

.datingBox {
    margin: auto;
}

.seriesText,
.castText {
    /* font-family: 'Dancing Script', cursive; */
    font-family: 'Dancing Script', cursive;
    font-weight: 200;
    font-size: 75px;
    margin: auto;
    text-align: center;
    padding: 0px;
    color: #5ab5a0;
    text-shadow: 1px 1px rgb(94, 94, 94);
    letter-spacing: -1px;
    /* text-transform: uppercase; */
}

.datingText {
    font-family: 'Montserrat', cursive;
    font-weight: 100;
    text-transform: uppercase;
    font-size: 40px !important;
    letter-spacing: -2px;
    color: #303030;
    text-align: left;
    margin: auto;
    text-align: center;
    padding: 0px;
}

.datingText2 {
    font-size: 50px;
    font-family: 'Amatic SC', cursive;
    font-weight: 100;
    letter-spacing: -2px;
    text-shadow: 2px 4px rgb(38, 38, 38);
}

.aboutTrailer {
    margin: 20px 25px 0px 25px;
    background-color: #bde0fe;
}

.active,
.dot:hover {
    background-color: #3e3e3e;
}

.datingBox {
    margin: auto;
}

.trailerThumb {
    text-align: right;
    justify-content: right;
    margin: auto;
    padding: 10px 30px 10px 10px;
}

.trailerThumbImg {
    width: 40vw;
}

.webseries {
    text-align: center;
    justify-content: center;
    margin: auto;
    font-family: 'Caveat', cursive;
    text-align: center;
    justify-content: center;
    font-size: 30px;
    padding: 0px 0px 0px 0px;
    color: #333;
    margin: -10px 0px 10px 0px;
}

.container-fluid {
    background-color: #fcf4eb;
    align-items: center;
    justify-content: center;
    transform-origin: top left;
    transition: transform 0.5s linear;
    width: 100%;
    padding: 0px;
}

/* .container-fluid.show-nav {
    transform: rotate(-10deg);
} */

.circle-container {
    position: fixed;
    top: -100px;
    left: -100px;
    z-index: 10;
}

.circle {
    background-color: #e6bcff;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    position: relative;
}

.container-fluid.show-nav {
    transform: rotate(-35deg);
}

.circle button {
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100px;
    background: transparent;
    border: 0;
    font-size: 26px;
    color: #fff;
}

.circle button:focus {
    outline: none;
}

.circle button#open {
    left: 45%;
    top: 45%
}

.circle button#close {
    left: 45%;
    top: 45%;
    display: none;
}

.container-fluid.show-nav+nav li {
    transform: translateX(0);
    transition-delay: 0.3s;
}

nav {
    position: fixed;
    bottom: 40px;
    left: 0;
    z-index: 100;
}

nav ul {
    list-style-type: none;
    padding-left: 30px;
}

nav ul li {
    text-transform: uppercase;
    color: #fff;
    margin: 40px 0;
    transform: translateX(-100%);
    transition: transform 0.4s ease-in;
}

nav ul li i {
    font-size: 20px;
    margin-right: 10px;
}

nav ul li+li {
    margin-left: 10px;
    transform: translateX(-150%);
}

nav ul li+li+li {
    margin-left: 15px;
    transform: translateX(-200%);
}

nav ul li+li+li+li {
    margin-left: 20px;
    transform: translateX(-250%);
}
nav ul li+li+li+li+li {
    margin-left: 30px;
    transform: translateX(-300%);
}

.watchText {
    font-size: 40px;
}

.socials {
    margin: auto;
    padding-top: 10px;
    text-align: center;
    cursor: pointer;
}

.icons, .socials {
    font-size: 30px;
    letter-spacing: 25px;
    color: #303030;
    cursor: pointer;
}

.content img {
    max-width: 100%;
}

.content {
    max-width: 1000px;
    margin: 50px auto;
}

.content h1 {
    margin: 0;
}

.content small {
    color: #555;
    font-style: italic;
}

.content p {
    color: #333;
    line-height: 1.5;
}

.selector-for-some-widget {
    box-sizing: content-box;
}

.episodes {
    padding-top: 20px;
}

.characters {
    padding-bottom: 50px;
}

.characterImg {
    width: 150px !important;
}


.romp,
.why,
.theEgg,
.milk,
.loveBytes,
.wally,
.vicous,
.holding,
.slut,
.jade {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
    border-radius: 50%;
    border: 0;
}

.middleJade {
    display: none;
    transition: .5s ease;
    opacity: 0;
    top: 80%;
    left: 100%;
    width: 80%;
    transform: translate(10%, -170%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    background-color: #b3fff7;
    border-radius: 0% !important;
    padding: 15px
}

.middle1,
.middle2,
.middle3,
.middle4,
.middle5,
.middle6,
.blueHoverBox,
.middle8,
.middle9 {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    background-color: #b3fff7;
    border-radius: 0% !important;
    padding: 15px;
    z-index: 10;
}

.middle2 {
    background-color: #80bdf2;
}

.middle3 {
    background-color: #fff0b3;
}

.middle4 {
    background-color: #ffb3d4;
}

.middle5 {
    background-color: #f5b0f3;
}

.middle6 {
    background-color: #ca8dff;
}

.blueHoverBox {
    background-color: #b8dbff;
}

.rompCard,
.eggCard,
.milkCard,
.loveCard,
.slutCard,
.wallyCard,
.jadeCard {
    border-radius: 50%;
    border: none;
}

.rompCard:hover .romp,
.eggCard:hover .theEgg,
.milkCard:hover .milk,
.loveCard:hover .loveBytes,
.slutCard:hover .slut,
.wallyCard:hover .wally,
.characterCard:hover .vicious,
.holdingCard:hover .holding,
.whyCard:hover .why,
.michaelCard:hover .trailerBtnBox,
.michaelCard:hover .michael,
.michaelCard:hover .datingText2,
.jadeCard:hover .jade,
.characterCard:hover .jade  {
    display: block;
    opacity: 0.2;
}

.rompCard:hover .middle1,
.eggCard:hover .middle2,
.milkCard:hover .middle3,
.loveCard:hover .middle4,
.slutCard:hover .middle5,
.wallyCard:hover .middle6,
.characterCard:hover .middle6,
.michaelCard:hover .blueHoverBox,
.holdingCard:hover .middle8,
.whyCard:hover,
.jadeCard:hover .middleJade,
.characterCard:hover .middleJade {
    opacity: 0.8;
    display: block;
}


.text3a {
    font-family: 'Montserrat';
    font-weight: 500;
}

.text1a,
.text2a,

.text4a,
.text5a,
.text6a {
    color: #275b53;
    font-size: 30px;
    font-family: 'Allura', cursive;
    font-family: 'Dancing Script', cursive;
}

.text2a {
    color: #2a275b;
}



.text4a {
    color: #b1066d;
}

.text5a {
    color: #7c0582;
}

.text6a {
    color: #4e0582;
}

.text7a {
    font-size: 50px;
    /* font-family: 'Amatic SC', cursive; */
    font-family: 'Montserrat';
    font-weight: 100;
    text-transform: uppercase;
    color: #0884f9;
    letter-spacing: -2px;
    padding: 0px !important;
}

.text1b,
.text2b,
.text3b,
.text4b,
.text5b,
.text6b,
.text7b 
 {
    color: black;
    font-size: 20px;
    font-weight: 700;
}

.synopsis {
    font-size: 18px;
    font-weight: 500;
}

.textJade {
    font-size: 10px;
}

.textDating {
    font-family: 'Montserrat';
    font-weight: 100;
    text-transform: uppercase;
}

.text1c,
.text2c,
.text3c,
.text4c,
.text5c,
.text6c {
    color: black;
    font-size: 16px;
    font-weight: 200;
}

.text2,
.text3,
.text4,
.text5,
.text6 {
    background-color: #00c0d1;
    color: white;
    border-radius: 10px !important;
    font-size: 16px;
    padding: 16px 32px;
}

.secondRow {
    padding-top: 25px;
}

.myFooter {
    margin-bottom: 0px;
    background-color: #333;
    position: fixed;
}

.myFooterText {
    /* position: fixed; */
    margin-bottom: 0px;
    color: rgb(133, 133, 133);
    font-family: 'Montserrat', sans-serif, Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-weight: 400;
}



@media(min-width: 1500px) {
    .datingText {
        font-size: 90px;
    }

    .synopsis {
        font-size: 25px;
    }

    .flip-box {
        height: 40vh;
    }

    .textBottom {
        padding: "none" !important;
    }

 
}

@media(max-width: 1499px) {
    .datingBox {
        top: 10% !important;
    }

    .flip-box {
        height: 400px;
    }

    .characterImg {
        width: 90px !important;
    }

    .textBottom {
        padding: "none" !important;
    }
}

@media(max-width: 1199px) {
  

    .trailerBtnBox2 {
        top: 70% !important;
    }

    .watchTrailer, .hideTrailer{
        font-size: 10px;
        padding: 10px;
        color: black;
        font-weight: 500;
    }

    .webseries {
        display: none;
    }

    .rompBox {
        height: 82px;
    }

    .rompText {
        font-size: 100px;
        letter-spacing: normal;
        letter-spacing: -5px;
        height: 80px;
        margin-top: -80px;
    }

    .seriesText {
        font-size: 55px;
        text-shadow: 1px 1px 1px rgb(94, 94, 94);
        margin-top: 0px;
    }

    .characterImg {
        width: 100px !important;
    }

    .trailerThumbImg {
        width: 40vw;
    }

    .trailerThumb {
        text-align: center;
        justify-content: center;
        margin: auto;
        padding: 0px;
    }

    .datingText {
        padding-top: 25px;
        font-size: 30px !important;
    }

    .datingText2 {
        font-size: 60px;
    }

    .synopsisBox {
        display: none;
    }

    .datingBox {
        top: 10% !important;
    }

    .flip-box {
        height: 300px;
    }
}

@media(min-width: 992px) {
    .trailerThumbImg {
        width: 90vw;
    }
    .characterText {
        padding-left: 5px;
        padding-top: 10px;
    }

   



    .text7a {
        font-size: 30px !important;
    }

    .datingBox {
        top: 0 !important;
    }

    .icons {
        font-size: 18px;
        letter-spacing: 10px;
    }

    .datingText {
        font-size: 20px !important;
    }
    .photo3 {
        width: 100px;
    }
    .characters {
        padding-right: 80px;
    }
}

  


@media(max-width: 991px) {
   



    .datingBox {
        top: 0 !important;
    }



    .text7a {
        font-size: 20px !important;
    }

    .text7b {
        display: none;
    }

 
}



@media(max-width: 575px) {
    




    .trailerBtnBox2 {
        top: 80% !important;
    }

    .watchTrailer, .hideTrailer {
        font-size: 8px;
        padding: 5px;
        color: black;
        font-weight: 500;
    }

    .rompText {
        font-size: 70px;
        letter-spacing: normal;
        letter-spacing: -5px;
        height: 80px;
        margin-top: -50px;
    }

    .video {
        width: 100vw;
    }

    .trailerThumb {
        text-align: center;
        justify-content: center;
        margin: auto;
        padding: 0px;
    }

    .trailerThumbImg {
        width: 80vw;
        padding-bottom: 10px;
    }

    .socials {
        font-size: 20px;
        letter-spacing: 15px;
        padding-left: 0px !important;
    }

    

    .text7a,
    .datingText2 {
        font-size: 15px !important;
    }

    .datingBox {
        left: 2% !important
    }

    .datingText {
        padding-top: 5px;
        font-size: 20px !important;
        text-align: center !important;
        text-shadow: 1px 1px rgb(41, 41, 41);
    }

   

    .icons {
        font-size: 15px;
        letter-spacing: 2px;
        text-align: center !important;
    }
    .smedia, .socials {
        padding: 0px !important;
        font-size: 18px;
    }
}

@media(max-width: 400px) {
    .datingBox {
        left: 2% !important
    }

    .datingText {
        padding: 2px;
        font-size: 22px;
        text-align: center !important;
        text-shadow: 1px 1px rgb(41, 41, 41);
        letter-spacing: -1px;
    }

  

    .icons {
        font-size: 10px;
        letter-spacing: 2px;
        text-align: center !important;
    }

    .smedia, .socials {
        padding: 0px !important;
        font-size: 15px;
    }
}

.myFooter {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    font-size: 10px;
    padding-top: 20px;
    border-top: 8px solid #fed8ed;
    font-family: Arial, Helvetica, sans-serif;
    z-index: 10;
}